# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
.pytest_cache/
.mypy_cache/

# Virtual envs
.venv/
venv/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Data & logs
data/
*.csv
*.log
*.txt

# Env & secrets
.env
.env.*
token.txt